# qrouter runtime script for project accumulator_4bit

verbose 1
read_lef  /usr/local/share/qflow/tech/etri050/etri050_stdcells.lef
catch {layers 3}
via stack all
vdd vdd
gnd gnd
obstruction -9.0 148.5 141.0 150.0 metal1
obstruction -9.0 -3.0 141.0 1.5 metal1
obstruction -9.0 -3.0 1.5 150.0 metal1
obstruction 133.5 -3.0 141.0 150.0 metal1
obstruction 1.5 148.5 133.5 150.0 metal3
obstruction 1.5 -3.0 133.5 1.5 metal3
obstruction -9.0 1.5 1.5 148.5 metal2
obstruction 133.5 1.5 141.0 148.5 metal2
read_def accumulator_4bit.def
qrouter::standard_route accumulator_4bit_route.def false 
quit
